
<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <input type="radio" name="slider" title="slide4" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents">
      <p class="slider__txt"><img src="https://www.arthipo.com/artblog/wp-content/uploads/2017/01/deniz-resmi-ciziminde-dikkat-edilecek-hususlar-noktalar.jpg" width="1000" height="450"></p>
    </div>
    <div class="slider__contents">
      <p class="slider__txt"><img src="https://pbs.twimg.com/profile_images/541689363537465344/rPkY-9Dw_400x400.jpeg" width="1000" height="450"></p>
    </div>
    <div class="slider__contents">
      <p class="slider__txt"><img src="https://iasbh.tmgrup.com.tr/b60395/752/395/0/75/710/448?u=https://isbh.tmgrup.com.tr/sbh/2018/10/02/ruyada-deniz-gormek-ne-anlama-gelir-1538473047192.jpg" width="1000" height="450"></p>
    </div>
    <div class="slider__contents">
      <p class="slider__txt"><img src="https://icdn.ensonhaber.com/resimler/galeri/3524/31.jpg" width="1000" height="450"></p>
    </div>
  </div>
</div>
<ul class="alt">
<li><a href="#">RECENT WORKS</a></li>
<table width="200">
  <tr>
    <td width="50" height="60" valign="top"><img src="https://www.sozumoki.com/photo/16026_p_6_1513836065_812.jpg" 
width="325" height="200"></td>
<td width="50" height="60" valign="top"><img src="https://img-s1.onedio.com/id-532df8c20e43f51f0d48f1b4/rev-0/w-635/listing/f-jpg-webp/s-ef2adfbd44d31c00fdf3eac37a374df3c9f1cb77.webp" 
width="325" height="200"></td>
    <td width="50" height="60" valign="top"><img src="http://icdn.ensonhaber.com/resimler/galeri/1_10074.jpg" 
width="325" height="200"></td>
  </tr>
</table>
<table width="980">
<tr>
<td width="20" valign="top"><p><font face="tahoma" size="1" color="blue">
<b>Tabiat, çevre, maddesel dünya. Doğa; kendini sürekli olarak yenileyen ve değiştiren, canlı ve cansız maddelerden oluşan varlıkların hepsini kapsar. İnsani faktörler etkin değildir. Madde ve enerji unsurlarından oluştuğu kabul edilir.</b></font></p></td>
<td width="20" valign="top"><p><font face="tahoma" size="1" color="blue">
<b>Tabiat, çevre, maddesel dünya. Doğa; kendini sürekli olarak yenileyen ve değiştiren, canlı ve cansız maddelerden oluşan varlıkların hepsini kapsar. İnsani faktörler etkin değildir. Madde ve enerji unsurlarından oluştuğu kabul edilir.</b></font></p></td>
<td width="20" valign="top"><p><font face="tahoma" size="1" color="blue">
<b>Tabiat, çevre, maddesel dünya. Doğa; kendini sürekli olarak yenileyen ve değiştiren, canlı ve cansız maddelerden oluşan varlıkların hepsini kapsar. İnsani faktörler etkin değildir. Madde ve enerji unsurlarından oluştuğu kabul edilir.</b></font></p></td>
</tr>
</table>
</ul>
