<html>
<link rel="stylesheet" href="/public/css/style.css">    
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <body>

    <nav class="navbar navbar-default " role="navigation">

<div class="ustmenu">
<div class="container">

<div class="row">
<div class="logo">
        
    <ul>
    <li><a class="active" href = "/">LOGO PLACE</a></li>    
    </ul>
    </div>
<ul>
  
  <li><a class="active" href="#home">HOME</a></li>
 
  <li><a href="#about">ABOUT US</a></li>
 
  <li><a href="#works">OUR WORKS</a></li>
 
  <li><a href="#services">SERVICES</a></li>
 
  <li><a href="#journal">JOURNAL</a></li>
  
  <li><a href="#contact">CONTACT US</a></li>
</ul>

<ul>
<li><a href="#popular">POPULAR POSTS</a></li>

   <table width="200">
  <tr>
    <td width="50" height="60" valign="top"><a href="#resim"><img src="https://www.albayrakgergitavan.com/images/gergigaleri/zel_tasarm.jpg" 
width="50" height="50"></a></td>
<td width="20" valign="top"><p><font face="tahoma" size="1" color="blue">
<b>Magna Ullamcorper Dolor Fermentum</b></font></p></td>
<tr>
</tr>
<td width="50" height="60" valign="top"><a href="#resim"><img src="https://www.albayrakgergitavan.com/images/gergigaleri/shutterstock_271201523.jpg" 
width="50" height="50"></a></td>
<td width="20" valign="top"><p><font face="tahoma" size="1" color="blue">
<b>Commodo Fusce Dolor Adipiscing</b></font></p></td>
    <tr>
    </tr>
    <td width="50" height="60" valign="top"><a href="#resim"><img src="https://www.albayrakgergitavan.com/images/gergigaleri/shutterstock_126682628_800_580.jpg" 
width="50" height="50"></a></td>
<td width="20" valign="top"><p><font face="tahoma" size="1" color="blue">
<b>Quam Inceptos Lorem Tortor Risus</b></font></p></td>
  </tr>
</table>
</ul>


        <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

</div>
</div>
</div>
<ul class="son">
<p>2011 Example. All Rights Reserved.</p>
</ul>



<%-body%>
</nav>
</body>

</html>